.app-wrapper{
  display: grid ;
  width:1200;
  grid-template-areas:
  "h h"
  "m c"
  "m t"
  "f f";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 1fr;
  /* grid-gap: 20%; */
}

.menu{
 grid-area: m;
 background-color: rgb(59, 162, 194);
 /* width: 60px; */
}

.header{
  grid-area: h;
  background-color: rgb(135, 184, 62);
  /* width:60px; */
}

.technologies{
  grid-area: t;
  background-color: grey

}
.header img{
  width: 7%;
}

.content{
  grid-area: c;
}

.content img{
  width: 400px; 
  height: 500px;
}

.footer{
  grid-area: f;
  background-color: azure
};